*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  height: 3em;
  align-items: center;
  background-color: black;
  margin-bottom: 12pt;
}

span{
  font-size: 18pt;
  font-weight: 600;
  color: white;
}